body {
  margin: 0;
  overflow-x: hidden;
}

#wrapper {
  margin-bottom: 10vh;
  min-width: 300px;
  height: fit-content;
  transition: 0.5s;
  opacity: 0;
  animation: appears 1s forwards;
}

.card-set-card {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.card-set-map {
  display: flex;
  align-items: center;
  margin-left: 175px;
  height: 800px;
}
