#footer {
  position: fixed;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  width: 100%;
  min-width: 400px;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #fff;
}

.footer-link {
  cursor: pointer;
}
