#graph-set {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  min-width: 1200px;
  transition: 0.5s;
  opacity: 0;
  animation: appears 1s forwards;
}

@keyframes graphResponsiveAppears {
  0% {
    transform: translateY(-75px) scale(0.8);
  }
  100% {
    transform: translateY(-100px) scale(0.8);
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  #graph-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    animation: graphResponsiveAppears 1s forwards;
  }
}
