#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 25px 5px;
  min-width: 1200px;
  width: 100%;
  background-color: #fff;
  z-index: 200;
}

#header-buttons {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.header-date {
  display: flex;
  position: relative;
  margin-top: 60px;
  min-width: 1200px;
  justify-content: center;
  transform: translateY(10px);
  z-index: 1;
}

.header-date-text {
  cursor: pointer;
}

.header-date-arrow {
  margin: 0 5px;
  width: 25px;
  cursor: pointer;
}

.header-date-move {
  position: fixed;
  width: 100vw;
  height: fit-content;
  left: 0;
  right: 0;
  z-index: 200;
}

.header-date-modal {
  position: fixed;
  width: fit-content;
  margin: 0 auto;
  top: 25%;
  left: 0;
  right: 0;
  background-color: #fff;
}

.header-date-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 1px #000 solid;
  padding: 2.5vh 2.5vw;
}

.header-date-modal-text {
  border-radius: 0.5vh;
  margin: 1vh 0;
  width: 22vw;
}

.header-date-modal-warning {
  color: red;
  margin-bottom: 1vh;
}

.header-date-modal-submit-buttons {
  display: flex;
}

.header-date-modal-submit {
  border: 1px #000 solid;
  padding: 0.5vh 1vw;
  margin: 0 1vw;
  height: 2vh;
  line-height: 2vh;
  font-size: 2vh;
  box-shadow: 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #000;
  background-color: #fff;
  transition: 0.3s;
}

.header-date-modal-submit:hover {
  color: #fff;
  background-color: #000;
}

.header-image {
  width: 75px;
  margin-right: 15px;
}

.header-dummy {
  width: 75px;
}

.header-btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: none;
  margin: auto 5px;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
  z-index: 100;
}

.header-btn:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  #header {
    min-width: 100%;
  }

  .header-image,
  .header-dummy {
    width: 10vw;
  }

  .header-description {
    display: flex;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
  }

  .header-btn {
    padding: 0;
    margin: 0;
    width: 10vw;
    font-size: 10px;
  }

  .header-date {
    margin-top: 45px;
    min-width: 100vw;
  }

  .header-date-arrow {
    width: 3vw;
  }
}
