body {
  margin: 0;
  font-family: 'Jua', sans-serif;
  font-size: 20px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  color: #000;
  font-family: 'Jua', sans-serif;
}

#wrap {
  min-width: 400px;
  margin: 0 auto;
  opacity: 0;
  animation: wrapAppears 1s forwards;
  animation-delay: 0.5s;
}

@keyframes wrapAppears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appears {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  body,
  button {
    font-size: 13px;
  }

  #wrap {
    min-width: 100%;
    word-break: keep-all;
  }
}
