#main {
  display: flex;
  justify-content: center;
  min-width: 1200px;
  height: fit-content;
  margin: 100px auto 0;
}

.main-btn {
  height: fit-content;
  margin: 0 5px;
}

.main-image-btn {
  width: 250px;
  height: 250px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 15px;
  padding: 50px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.1);
}

.main-btn-description {
  font-size: 25px;
  text-align: center;
}

.main-image-btn:hover {
  transform: scale(1.05) translateY(10px);
}

@media screen and (max-width: 1200px) {
  #main {
    margin: 5vh auto 0;
    min-width: 100vw;
  }

  .main-btn-description {
    font-size: 12px;
  }

  .main-image-btn {
    width: 20vw;
    height: 20vw;
    padding: 3vw;
  }
}
