.map-wrapper {
  display: flex;
  justify-content: center;
  min-width: 1200px;
  transform: translateY(-100px);
}

.map {
  width: 530px;
  height: 800px;
  cursor: pointer;
}

.land {
  fill: #cccccc;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.3s;
}

.land-black {
  fill: rgb(0, 0, 0);
}

.land-red {
  fill: rgb(200, 0, 0);
}

.land-yellow {
  fill: rgb(190, 190, 0);
}

.land-blue {
  fill: rgb(0, 0, 150);
}

.land-green {
  fill: rgb(0, 150, 0);
}

.land-black:hover,
.land-red:hover,
.land-yellow:hover,
.land-blue:hover,
.land-green:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1200px) {
  .map-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-width: 100vw;
    transform: translateY(-30vh);
  }

  .map {
    margin-top: 5vh;
    transform: scale(0.7);
  }

  .card-set-map {
    display: none;
  }
}
