.status-card {
  width: 250px;
  height: fit-content;
  margin: 0 15px;
  border: 1px #000 solid;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: ease-in 0.1s;
}

.status-card:hover {
  transform: scale(1.05);
}

.card-color-black {
  background-color: rgb(0, 0, 0);
}

.card-color-red {
  background-color: rgb(200, 0, 0);
}

.card-color-yellow {
  background-color: rgb(190, 190, 0);
}

.card-color-blue {
  background-color: rgb(0, 0, 150);
}

.card-color-green {
  background-color: rgb(0, 150, 0);
}

.status-card-location {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 15px auto;
  font-size: 30px;
  font-weight: 600;
}

.status-card-info {
  width: 225px;
  margin: 0 auto 10px;
  padding: 10px 0;
  border: #fff 1px solid;
  border-radius: 15px;
  font-size: 17px;
}

.status-card-info-content {
  margin: 5px 10px;
}

@media screen and (max-width: 1200px) {
  .status-card {
    width: 30vw;
    margin: 0 1vw;
  }

  .status-card-location {
    font-size: 18px;
  }

  .status-card-info {
    margin: 2vh auto;
    width: 25vw;
    font-size: 12px;
  }
}
