.page-slider-enter {
  opacity: 0;
}

.page-slider-enter.page-slider-enter-active {
  opacity: 0.99;
  transition: opacity 500ms ease-in;
}

.page-slider-exit {
  opacity: 0.99;
}

.page-slider-exit.page-slider-exit-active {
  opacity: 0;
}

.transition-group {
  position: relative;
}
